@model Matrix90.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefferedMethodOfContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefferedMethodOfContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestTimeToReach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestTimeToReach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileRight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
