@model Matrix90.Models.Customer

@{
    List<Notification> Notifications = ViewBag.Notifications;
    int notificationsCount = Notifications.Count;
    List<CustomerMeasurements> Measurements = ViewBag.Measurements;
    Measurements.OrderByDescending(x => x.uploadDate);
    var NutritionPlan = ViewBag.NutritionPlan;
    var progressPercentage = (double)ViewBag.progress;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron" style="background-color: #272727">
    <div><h1 style="text-align:center">@Model.FirstName @Model.LastName </h1>@if (notificationsCount != 0)
    {<a  href="#" class="btn btn-warning" onclick="location.href='@Url.Action("ViewNotifications", "Customers", new { customerId = Model.CustomerId })'">@notificationsCount Notifications</a>}</div>

    <h4 style="text-align:center">Starting Weight: @Measurements.First().StartingWeight  |  Current Weight: @Measurements.First().CurrentWeight   |   Goal Weight: @Measurements.First().GoalWeight</h4>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @progressPercentage%"></div>
    </div>
    <div><br /></div>
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="~/Images/@Model.ProfileLeft"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" src="~/Images/@Model.ProfileLeft" alt="video"
                     data-toggle="modal" data-target="#modal1">
            </a>


        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" height="400" src="~/Images/@Model.FrontImage" alt="video"
                     data-toggle="modal" data-target="#modal6">
            </a>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" height="400" src="~/Images/@Model.ProfileRight" alt="video"
                     data-toggle="modal" data-target="#modal4">
            </a>

        </div>
        <!-- Grid column -->

    </div>
</div>
<!-- Grid row -->
<!-- Grid row -->




<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Weight</th>
            <th scope="col">Neck</th>
            <th scope="col">Chest</th>
            <th scope="col">Waist</th>
            <th scope="col">Hips</th>
            <th scope="col">Thigh</th>
            <th scope="col">Calves</th>
            <th scope="col">Arms</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Measurements)
        {
            <tr>
                <td>@item.uploadDate</td>
                <td>@item.CurrentWeight lbs</td>
                <td>@item.Neck in</td>
                <td>@item.Chest in</td>
                <td>@item.Waist in</td>
                <td>@item.Hips in</td>
                <td>@item.Thigh in</td>
                <td>@item.Calves in</td>
                <td>@item.Arms in</td>

            </tr>
        }

        </tbody>
</table>






