@model Matrix90.Models.CustomerWorkInfo

@{
    ViewData["Title"] = "ViewCustomerWorkInfo";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron">
    <h1 style="text-align:center"> Customer Work Info</h1>
    <div><br /></div>

    <div class="row">

        <div class="col-md-12">
            <dl style="text-align:center" class="row">
               
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Occupation)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Occupation)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Shift)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Shift)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.WorkDays)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.WorkDays)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DailyWorkHours)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DailyWorkHours)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ScheduledBreaks)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ScheduledBreaks)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.BringLunchAbility)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.BringLunchAbility)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ActivityLevel)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ActivityLevel)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CustomerWorkInfoId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
