@model Matrix90.Models.CustomerActivityInfo

@{
    ViewData["Title"] = "ViewCustomerActivityInfo";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>
<div class="jumbotron">
<h1 style="text-align:center">Customer Activity Info</h1>
    <div><br /></div>

<div class="row">
    <div class="col-md-12"><p></p></div>
    
        <dl class="row">
            
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AccessToFacility)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AccessToFacility)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.WorkoutRoutine)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.WorkoutRoutine)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.RoutineTimePerDay)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.RoutineTimePerDay)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.RoutineDaysAWeek)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.RoutineDaysAWeek)
            </dd>
        </dl>
      
    
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerActivityInfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
