@model Matrix90.Models.CustomerMedicalInfo

@{
    ViewData["Title"] = "ViewCustomerMedicalInfo";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron">
    <h1 style="text-align:center">Medical Info</h1>
    <div><br /></div>

    <div class="row">
       
        <div class="col-md-12">
            <dl style="text-align:center" class="row">
               
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MedicalConditions)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MedicalConditions)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Injuries)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Injuries)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PhysicalActivityLimitations)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PhysicalActivityLimitations)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.GastroIntestinalDiscomfort)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.GastroIntestinalDiscomfort)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.GastroInfo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.GastroInfo)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
        </div>
       
    </div>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
