@model Matrix90.Models.CustomerMeasurements

@{
    ViewData["Title"] = "ViewCustomerMeasurements";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron">
    <h1 style="text-align:center">Medical Info</h1>
    <div><br /></div>

    <div class="row">

        <div class="col-md-12">
            <dl style="text-align:center" class="row">
               
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.StartingWeight)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.StartingWeight)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CurrentWeight)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CurrentWeight)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.GoalWeight)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.GoalWeight)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Neck)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Neck)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Arms)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Arms)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Hips)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Hips)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Waist)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Waist)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Chest)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Chest)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Thigh)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Thigh)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Calves)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Calves)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CustomerMeasurementsId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
