@model Matrix90.Models.CustomerTypicalDayInfo

@{
    ViewData["Title"] = "ViewCustomerTypicalDay";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron">
    <h1 style="text-align:center">Customer Typical Day</h1>
    <div><br /></div>

    <div class="row">

        <div class="col-md-12">
            <dl style="text-align:center"class="row">
                
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.WakeUpTime)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.WakeUpTime)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.BedTime)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.BedTime)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SleepDifficulty)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.SleepDifficulty)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.NightlyWakeUps)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.NightlyWakeUps)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.BreakfastTime)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.BreakfastTime)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LunchTime)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LunchTime)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DinnerTime)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DinnerTime)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SnackDuringDay)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.SnackDuringDay)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SnackDuringDayTimes)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.SnackDuringDayTimes)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.EatingTimeFlexibility)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.EatingTimeFlexibility)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CustomerTypicalDayInfoId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
