@model Matrix90.Models.CustomerEatingHabits

@{
    ViewData["Title"] = "ViewCustomerEatingHabits";
    Layout = "~/Views/Shared/_NutritionistsLayout.cshtml";
}<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>

<div class="jumbotron">
    <h1 style="text-align:center">Customer Eating Habits</h1>
    <div><br /></div>

    <div class="row">

        <div class="col-md-12">
            <dl style="text-align:center"class="row">
                
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TypicalBreakfast)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TypicalBreakfast)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TypicalLunch)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TypicalLunch)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TypicalDinner)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TypicalDinner)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TypicalSnack)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TypicalSnack)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DrinkSodaAmount)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DrinkSodaAmount)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DrinkAlcoholAmount)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DrinkAlcoholAmount)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FoodAllergies)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FoodAllergies)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.KindOfFoodAllergies)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.KindOfFoodAllergies)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FavoriteFoods)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FavoriteFoods)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.NonFavoriteFoods)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.NonFavoriteFoods)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CustomerEatingHabitsId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
